{% extends 'app/base.html' %}

{% block content %}

	<div class="title">
    		<h1>Citator</h1>
	</div>

	<div class="header">

		<a href="/changelog">Change Log</a>
		<br><br>
	</div>
	<div class="input">
		{% csrf_token %}

		<label for="url">Enter a CanLII URL:</label>
		<form action="{% url 'process_text' %}" method="post">
			{% csrf_token %}
     			<input type="text" name="url" id="url" size="100">	
			<p>
	        	<label for="radio">Choose a pinpoint type:</label>
			<p>
			<input type="radio" name="pinpoint_type" value="para"> Paragraph
			<input type="radio" name="pinpoint_type" value="page"> Page
			<input type="radio" name="pinpoint_type" value="none" checked> None
			<p>
			<label for="pinpoint">Pinpoint #:</label>
			<input type="number" min="1" id="pinpoint" name="pinpoint" value="1">	
			<p>
			<label for="parallel_citations">Parallel Citations:</label>
			<p>
			<input type="text" name="parallel_citations" size="100">
			<p>
			<input type="submit" value="Submit">
		</form>

	</div>

{% endblock %}

{% block footer %}

	<div class="footer">
		<p>Created by <a href="

{% endblock %}

