{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>

	<div class="title">
    		<h1>Citator</h1>
	</div>

	<div class="header">

		<a href="/changelog">Change Log</a>
		<br><br>
	</div>
	<div class="input">
		{% csrf_token %}

		<label for="url">Enter a CanLII URL:</label>
		<form action="{% url 'process_text' %}" method="post">
			{% csrf_token %}
      <input type="text" name='url' id='url'>
      <label for="pinpoint">Pinpoint:</label>
      <input type="number" min="1" id="pinpoint" name="pinpoint">
 			<input type='submit' value='Submit'>
		</form>
	</div>

</body>

</html>

